@use 'base/mixins' as m;
@use 'base/variables' as v;

.login {
    margin-top: 5rem;
    .doit {
        @include m.textoDegradado(v.$naranja, v.$darkrosa);
    }

    .contenedor-sm {
        background: linear-gradient(to right, rgba(245, 159, 11, 0.568) 0%, rgba(219, 39, 120, 0.548) 100%);
        backdrop-filter: blur(2rem); /* Efecto de desenfoque */
        padding: 2rem 4rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Sombra oscura */
        text-align: center;

        p {
            margin-bottom: 0;
        }
    }

    input[type="submit"] {
        @include m.boton(v.$naranja, v.$blanco);
        border-radius: 2rem;
    }

    .acciones {
        a {
            background: linear-gradient(to right, v.$darknaranja 0%, lighten(v.$darkrosa, 10%) 70%);
            color: transparent;
            background-clip: text;
            font-weight: bold;
        }
    }
}