@use 'base/mixins' as m;
@use 'base/variables' as v;

.barra-mobile {
    background: linear-gradient(to bottom, v.$coral, v.$rosaClaro);
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.tablet {
        display: none;
    }

    h1 {
        color: v.$blanco;
        margin: 0;
    }

    .menu {
        img {
            width: .8rem;
            &:hover {
                cursor: pointer;
            }

        }
    }
}


.barra { 
    display: none;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:transparent;
        padding: 0 2rem;
    }

    p {
        margin-bottom: 2rem;
        font-size: 1.4rem;

        span {
            font-weight: bold;
            color: v.$morado;
        }
    }

    .cerrar-sesion {
        margin-bottom: 2rem;
        &:hover::before {
            content: "Log out";
            margin-right: 1rem;
        }
        @include m.boton(v.$naranja, v.$blanco);
        padding: 1.2rem;
        border-radius: 2rem;
        a {
            color: v.$blanco;
        }
    }
}