@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar {
    background-color: v.$bluedianne;
    padding: 4rem;
    border-radius: 2rem;
    
    .doit {
        @include m.textoDegradado(v.$grisClaro, v.$iceberg);
    }

    .sidebar-nav {
        margin-top: 6rem;

        .activo {
            &:hover,
            &.activo {
                background-color: darken(v.$junglegreen, 10%);
                border-radius: 2rem;
            } 
        }

        .icon {
            display: flex;
            align-items: baseline;
            padding: 1.5rem;
            transition-property: background-color;
            margin-bottom: 2rem;

            .fa {
                margin-right: 1rem;
                color: v.$conifer;
            }
            a {
                color: v.$iceberg;
                font-weight: bold;
                text-transform: uppercase;
                display: block;
            }
            &:hover{
                background-color: darken(v.$junglegreen, 10%);
                border-radius: 2rem;
            } 

        }  

    }
}